/* @color:#d6003e; */

/* DEFINICIONES LESS */

.transition (@transition: all .5s ease-in-out) {
-webkit-transition: @transition;
-moz-transition: @transition;
-o-transition: @transition;
transition: @transition;
}

.rounded-corners {  
  -moz-border-radius: 10px; /* Firefox */  
  -webkit-border-radius: 10px; /* Safari, Chrome */  
  border-radius: 10px; /* CSS3 */  
}  

/* TRANSPARENCIA */
.opacity (@trans: 0.5) {
	@trans1:@trans * 10;
	-moz-opacity:@trans;
	opacity:@trans;
	-khtml-opacity: @trans;
	filter:alpha(opacity=@trans1);
}


.entrada_derecha{
.transition(all .3s linear);
}

#sidebar {
	background-color:#F2F2F2;
}

.noticia_destacada {
  background-image: url("../img/barradestacado.png");
  color: white;
  font-size: 20px;
  height: 90px;
  padding-left: 89px;
  position:relative;
  z-index:1;
}

.noticia_destacada p {
	display: inline-block;
	margin-top: 17px;
	max-width: 200px;
	text-align: left;
}

.buscador {
  background-color: white;
  color: blue;
  font-size: 20px;
  height: 90px;
  margin-bottom: 12px;
  padding-left: 44px;
}

.buscador img {
  margin-right: 18px;
  margin-top: 19px;
}

.inp_buscar{
	/*float: left;*/
	margin: 0 auto;
	height: 25px!important;
	margin-top: 60 auto;
	border: 0 none!important;
	font-family: klavikalight;
	padding-top: 31px!important;
	box-shadow:inherit!important;
}

input.inp_buscar:focus {
	box-shadow:none!important;
	border:0px;
	color:black;
}

.entrada_derecha {
  background-color: #F3F3F3;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-top: 12px;
  margin-left: -24px;
}

.contenedor_icono {
  background-color: #0E76BC;
  float: left;
  height: 32px;
  margin-top: 8px;
  padding-left: 12px;
  padding-top: 12px;
  width: 32px;
}

.entrada_derecha p {
  color: #6799C2;
  display: inline-block;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 4px;
  text-align: left;
  width: 236px;
}

.lafecha {
  font-family: klavika;
}

.entrada_derecha:hover {
	background-color:#7fbee9;
	
	p {
		color:white;
	}
}

.ultimahora {
  margin-bottom: 0;
  font-size: 0.68em;
  text-transform: uppercase;
}

.ultimahora2 {
	margin-top:-1px;
}

.conte {
  margin-left: 62px;
}

.AlpinePhotoTiles-by-link {
    display:none!important;
}

.AlpinePhotoTiles_inpost_container {
  clear: both;
  display: inline-block!important;
  margin-top: 7px!important;
  overflow: hidden;
  padding-bottom: 10px;
  width: 86%!important;
}

.conte p {
	font-family:arial,helvetica,sans-serif;
	font-size: 13px !important;
	font-weight: normal;
	line-height: 1.5 !important;

}

.instaclass {
  color: transparent!important;
  min-height:300px;
  p,h1,h2,h3,h4,h5,span {
      color: transparent!important;
  }
}

.laimg {
  position: absolute;
  width: 270px;
  margin-left: 0px;
  margin-top: 8px;
  z-index:0;
  display:none;
}

.AlpinePhotoTiles-image {
  position: relative;
  z-index: 2;
}

.pand {
  margin-left: 24px;
}

.instaclass .contenedor_icono > img {
  height: auto;
  margin-left: -5px;
  margin-top: -5px;
  max-width: inherit;
  width: 29px;
}

.instaclass .contenedor_icono {
  background-color: #59514d;
}	