#calendariocircuitos {
  font-family: klavika;
  padding: 22px 40px;
}

.fechacircuito, .paiscircuito, .cascocircuito, .circuitocircuito {
  background-color: #F3F3F3;
  color: #0E76BC;
  margin-top: 1px;
  padding: 18px 29px;
}

.titulocircuito {
  background-color: #0E76BC;
  color: white;
  font-family: klavikabold;
  font-size: 17px;
  padding: 23px 20px;
  text-transform: uppercase;
}

.cirimico {
  margin-left: 8px;
  margin-right: 27px;
}

.mapacircuito {
  background-color: #f3f3f3;
}

.banderacircuito {
  margin-left: 611px;
  margin-top: 203px;
  position: absolute;
  width: 60px;
}

.textocircuito {
  float: left;
  width: 49%;
}

.mapacircuito {
  background-color: #F3F3F3;
  display: inline-block;
  margin-left: 1px;
  height:238px!important;
  max-width: 327px;
  overflow:hidden;

}

.cadacircuito {
  clear: both;
  margin-bottom: 24px;
  border:5px solid #6DAEE5;
  background-color:#F0F0F0;
}

.fechacircuito, .paiscircuito, .cascocircuito, .circuitocircuito {
  background-color: #F3F3F3;
  color: #0E76BC;
  margin-top: 1px;
  padding: 18px 29px;
  max-height: 20px;
}

#calendario #home_content {
  background-color: transparent;
  background-image:url("../img/light_toast.png") !important;
}

.banderacircuito > img {
  width: 59px;
  height: 40px;
}

.fechacircuito {
    text-transform:lowercase;
}