.boton_slide{
	height: 20px;
	width: 20px;
}

.carousel-inner {
	max-height:331px;
}

.boton_carousel{
	float: left;
	padding: 2px;
}
.carousel-indicators{
	margin-right:-10px;
	top:300px;
	z-index:1;
}

div.contenedor_titular {
  margin-left: 43px;
  max-width: 270px;
  position: absolute;
  top: 82px;
  z-index: 1;
}

h1.titular_slide {
	background: none repeat scroll 0 0 rgba(46,132,189,0.87);
	color: #FFFFFF;
	display: inline;
	line-height: 1.35em;
	padding-bottom: 1px;
	padding-top: 1px;
	white-space: normal;
}

h1.titular_slide span {
  font-size: 22px!important;
  text-transform:uppercase!important;
  font-family:klavikabold;
  position: relative!important;
}


h1.titular_slide br {
	display: none;
}

.titular_slide{
	background: #0e76bc;
	color:white;
	left:30px;
	margin-top:-160px;
}

a.btn_leer_mas{
	display: block;
  font-family: klavika;
  font-size: 11px;
  font-weight: normal;
	margin-top: 7px;
	opacity:0.9;
}
a.btn_leer_mas:hover {
    opacity:1;
}

.lbl_leer_mas {
  background: none repeat scroll 0 0 black;
  color: white;
  float: left;
  height: 23px;
  width: 69px;
}

.lbl_leer_mas span,.lbl_plus span {
	display: inline-block;
	margin-top: 7px;
	position: relative;
	text-align: center;
	width: 100%;
}

.lbl_plus span {
	margin-top:5px;
}

.lbl_plus{
	float:left;
	background: #0e76bc;
	color: white;
	height: 23px;
	width: 22px;
}

.carousel-inner img {
	width:100%;
}

a.titulink {
    text-decoration:none;
}

div.contenedor_titular {
  top: 31px;
}

h1.titular_slide {
	font-size:35.5px;
}

/* NUEVO BANDERAS */

/*
.gp3 > img {
  width: 50px;
  margin-top: -11px;
}
*/

#ipadlogo img {
  margin-left: 8px;
  margin-top: 22px;
  min-width: 383px;
}

/* NUEVO TITULAR */

.titulink2 {
  background-color: rgba(10, 74, 121, 0.57);
  display: inline-block;
  padding: 0 20px;
}

.titular_slide2 {
  font-family: klavikabold;
  font-size: 24px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #9acef1;
}

.contenedor_titular a:hover {
    text-decoration:none;
}

.titular_slide2 span {
    color:white;
}

.lbl_leer_mas2 {
  background-image: url("../img/seguirleyendo.png");
  background-position: 0px 0px;
  height: 43px;
  width: 240px;
}

.lbl_leer_mas2 span {
  font-size: 14px;
  left: 22px;
  position: relative;
  top: 13px;
  color: #9acef1;
}

.lbl_leer_mas2:hover {
    background-position:0px 43px;
    text-decoration:none;
}
