/*
.transition (@transition: all .5s ease-in-out) {
-webkit-transition: @transition;
-moz-transition: @transition;
-o-transition: @transition;
transition: @transition;
}

.ocultaar {
    .transition(@transition: opacity .5s ease-in-out);
}
*/

.label.label-info {
  font-family: klavika;
  font-size: 1em;
  font-weight: normal;
  margin-left: 46px;
  position: relative;
  top: 21px;
}

.tituloslide {
  color: #4692C4;
  float: left;
  font-family: klavikabold;
  font-size: 48px;
  font-weight: normal;
  margin-top: 30px;
  position: relative;
  text-align: center;
  width: 167px;
  left:2px;
}

h3 {
    font-size:18px;
    text-transform:uppercase;
    font-weight:normal;
}

.thecircuit {
  margin-bottom: 20px;
  margin-top: -11px;
  padding: 0 10px;
  line-height: 1.2;
}

.elslide {
  float: left;
  display: inline-block;
  width: 593px;
}

.unslide {
  clear: both;
  display: block;
  margin-top: -20px;
  min-height: 540px;
}


.scrollgallery .thumbareaContent img {
  width: 100px;
}

.theyear {
  display: inline-block;
  margin-top: 10px !important;
  position: relative;
}

.scrollgallery {
  background-color: #e9e9e9;
}

.gvideos h3 {
  color: #397DB9;
  font-family: klavikabold;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* NUEVOS ESTILOS CAMBIO ETIQUETAS Y ROYAL */

.unslide li {
  list-style-type: none;
  text-align: left;
}

.tituloslide > ul {
  display: inline-block;
  margin: 7px 0 0;
}

.unslide .btn {
  min-width: 130px;
  max-width: 130px;
  position:relative;
  z-index:2;
}

.sl01 {
  position: absolute;
  z-index: 2;
  margin-left: 0;
}
.sl02 {
  position: absolute;
  z-index: 1;
  margin-left: 0;
}

.sl03 {
  position: absolute;
  z-index: 1;
  margin-left: 0;
}

.sl04 {
  position: absolute;
  z-index: 1;
  margin-left: 0;
}

.sl05 {
  position: absolute;
  z-index: 1;
  margin-left: 0;
}

.sl06 {
  position: absolute;
  z-index: 1;
  margin-left: 0;
}

.sl07 {
  position: absolute;
  z-index: 1;
  margin-left: 0;
}

.sl08 {
  position: absolute;
  z-index: 1;
  margin-left: 0;
}

.ocultaar {
/*
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
*/
  
  	visibility:hidden;
}

.fotoos {
  margin-top: 23px;
}

.rsFullscreenBtn {
	display:none!important;
}

.lindi li {
  float: left;
}

.indilights01 {
 position: absolute;
  z-index: 1;
  margin-left: 0;  width:590px;
}

.indilights02 {
 position: absolute;
  z-index: 1;
  margin-left: 0;  width:590px;
}

.indilights03 {
 position: absolute;
  z-index: 1;
  margin-left: 0;  width:590px;
}

.indilights04 {
 position: absolute;
  z-index: 2;
  margin-left: 0;  width:590px;
}

.indilights05 {
 position: absolute;
  z-index: 1;
  margin-left: 0;  width:590px;
}

.indilights06 {
 position: absolute;
  z-index: 1;
  margin-left: 0;  width:590px;
}

.indilights07 {
 position: absolute;
  z-index: 1;
  margin-left: 0;  width:590px;
}

.lindi {
  margin-left: 3px;
  margin-top: 531px;
  position: absolute;
  z-index: 1;
  width:590px;
}

.año12,.año11,.año10,.año09,.año08,.año07,.año06,.año05 {
	margin-top:40px;
}

.unslide .lindi .btn {
  max-width: inherit;
  min-width: inherit;
  margin: 3px;

}

.rsContent a {
	color:transparent!important;
}