.ingles.bandera,.español.bandera {
    margin-left:-37px!important;
}

.banderacircuito {
margin-left:207px;
margin-top:198px;
}

#calendario DIV.contenedor_titular,#aboutme DIV.contenedor_titular,#galeria DIV.contenedor_titular,#otra DIV.contenedor_titular,#partners DIV.contenedor_titular {
background-color:#2e84bd;
top:208px;
}

#aboutme DIV.contenedor_titular {
top:177px;
}

#elcontador {
    line-height:27px;
}

.dropdown-menu.galer {
    margin-top:43px;
}

#preloader {
    display:none;
}

#aboutme #home_content {
    width:850px;
}

#otra #home_content {
    width:55%!important;
}