.patrocinadores_footer {
    margin-top:137px;
    margin-left:-36px;
}

.btn_barra,.activeb.btn_barra,.btn_barra:hover,.activeb.btn_barra:hover {
    filter: inherit!important;
}

.carousel-indicators {
    top:235px;
}

DIV.contenedor_titular {
    top:40px;
}

.banderacircuito {
margin-left:461px;
}

.patrocinador_footer IMG {
top:-94px;
}

#aboutme #home_content IMG {
margin-top:-31px;
}

#calendario DIV.contenedor_titular,#aboutme DIV.contenedor_titular,#galeria DIV.contenedor_titular,#otra DIV.contenedor_titular,#partners DIV.contenedor_titular {
background-color:#2e84bd;
}

.botonesredes {
    margin-left:2px;
}

.ingles.bandera,.español.bandera {
    margin-left:-37px!important;
}

#aboutme .banner > IMG {
    margin-top:-88px!important;
}

body {
    background-image:none;
}