/* DEFINICIONES LESS */

.transition (@transition: all .5s ease-in-out) {
-webkit-transition: @transition;
-moz-transition: @transition;
-o-transition: @transition;
transition: @transition;
}

.ngg-gallery-thumbnail img,.der-mascara {
    .transition(@transition: background-color .5s ease-in-out);
}



/* CALENDARIO */

#calendario div.contenedor_titular {
  margin-left: 43px;
  max-width: 270px;
  position: absolute;
  z-index: 1;
}

.banner {
	z-index: 1;
	position: relative;
} 

.fc-header-title h2 {
  font-family: klavika;
  margin-top: 0;
  
  text-transform: uppercase;
  white-space: nowrap;
}

.fc-button-content {
  font-family: klavika;
  text-transform: uppercase;
}

#eo_fullcalendar_1_loading, .ui-widget-header,.fc-event-inner.fc-event-skin{
  font-family: klavikalight;
  text-transform: uppercase;
}

.fc-event-inner.fc-event-skin {
    background:none repeat scroll 0 0 rgba(46, 132, 189, 0.87)!important;
    border:none!important;
    word-break: keep-all!important;
}

.fc-event-time {
    display:none;
}

.fc-event-title {
    padding:5px;
}

.fc-event-title {
  padding: 11px 0 !important;
  text-align: center !important;
  font-size: 12px;
   word-break: keep-all!important;

}

.fc-view pre {

  word-break: keep-all!important;

}



.fc-event-hori {
  background: none repeat scroll 0 0 transparent !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-top: 0!important;
  padding: 5px 4px;
  position: relative !important;
  border-width:0px!important;
}

.fc-event-inner {
  overflow: hidden;
  position: relative;
}

.fc-event-inner.fc-event-skin {
  display: inline-block !important;
  margin-left: -7px !important;
  height: 44px !important;
  overflow: hidden !important;
  padding: 6px 3px !important;
  text-align: center !important;
  width: 101px !important;
  line-height: 1.4!important;
  font-size: 1em!important;
}

.fc-day-number {
    font-family:klavika;
}

/*
.fc-header-title h2 {
  background: none repeat scroll 0 0 rgba(46, 132, 189, 0.87);
  color: white;
  margin-top: -251px!important;
  text-align: center !important;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  margin-left: 43px;
}
*/

.fc-header-title h2 {
  background: none repeat scroll 0 0 transparent;
  color: #333333;
  margin-left: 46px;
  margin-top: -27px !important;
  position: absolute;
  text-align: center !important;
  white-space: nowrap;
  z-index: 1;
}

pre {
    padding:35px 0px 11px;
    margin:0 0 500px;
    border:0;
}

.ui-widget-header {
    font-weight:normal!important;
}



.fc-header-right {
  text-align: right;
  width: 25%;
  padding-bottom: 26px!important;
}

.ui-tooltip-content.ui-widget-content {
    display:none!important;
}

.ui-widget-header {
    font-family: klavika!important;
}

.fc-header-right {
  padding-right: 21px!important;
  position: relative;
}

/* PÁGINA SINGLE DE EVENTO */

#otra #home_content {
  padding: 44px;
  z-index: 0;
  position: relative;
}

#otra header {
    background-color:transparent;
}

.eventorganiser-event-meta {
    font-family:Klavika;
}

/* GALERÍA */

#galeria #home_content {
    background-color:transparent;
}

.ngg-gallery-thumbnail img {
    border:0 none!important;
}

.ngg-galleryoverview {
  clear: both;
  display: block !important;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  padding-left: 41px;
  padding-top: 29px;
}

.ngg-gallery-thumbnail img:hover {
    background-color: #80bee8!important;
}

#shName, #shCount {
  display: none;
}



/*
#gallery-1 .gallery-item {
  float: left;
  margin: 0!important;
  text-align: center;
  width: 33%;
}

#gallery-1 img {
  border: 3px solid white!important;
  width: 100%;
}

.der-mascara {
width: 40%;
    height: 40%;
    background: #444;
    margin: 0 auto;
}

.der-mascara:hover {
    background:#2873A5;
}

.der-mascara img {
   max-width: 100%;
    max-height: 100%;
    height: auto;
}

#galeria #home_content {
  width: 100%!important;
}

#imagenes {

}

.separador {
  height: 20px;
  position: relative;
  width: 22px;
  display: block;
  clear: both;
}
*/

/* CIRCUITOS */

#circuitos .noticia img.imgmain {
  width: 438px;
  margin-left: 43px;
  margin-top: 24px;
}

/* ABOUT ME */

#aboutme #home_content {
    padding:30px 41px;
}

#aboutme #home_content img {
  float: left;
  margin: 18px 18px 18px 0;
}

/* CONTACTO */

#contacto #home_content {
  position: relative;
  z-index: 1;
  padding-top: 47px;
  padding-bottom: 53px;
  font-family: klavika;
}

input, button, select, textarea {
  font-family: klavika;
}

#contacto h2 {
    color: #333333 !important;
font-weight: normal;
text-align:center;
}

#contacto h3 {
  color: #7F7F7F !important;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 27px !important;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  width: 370px;
  margin: 0 auto 27px;
}

.contactoform {
  width: 490px;
  margin: 0 auto;
}

/* SINGLE */

#otra .fecha_noticia {
    margin-top:12px;
}

/* PATROCINADORES */

#partners {
    .noticia img.imgmain {
        width:inherit;
        text-align:center;
    }
    .noticia {
        padding:10%;
    }
}

/* BUSCADOR */

.imagenbusqueda {
  float: left;
  width: 110px;
  margin-right: 19px;
  margin-top: 0px;
  top: 0px;
}

.buscaenlace {
  display: block;
}

.imagbus {
  background-color: transparent;
  display: inline-block;
  float: left;
  margin-right: 18px;
  margin-top: 5px;
  min-height: 78px;
  width: 110px;
  max-height: 123px;
  overflow: hidden;
}

.titulobusqueda {
  font-family: klavika;
  text-transform: uppercase;
}

.fechabusqueda {
  top: -11px;
  position: relative;
  font-size: 0.9em;
  color: gray;
}

.textobusqueda {
  position: relative;
  margin-top: -10px;
  top: 0px;
}

.buscaenlace {
  margin-top: 24px;
}

#otra .paginacion {
  padding: 10px 41px 16px;
}

#buscaador .tex {
  color: gray;
  font-family: klavika;
  font-size: 22px;
}

.separador {
  width: 1px;
  height: 12px;
}



/* TODOS */

#partners h1.titular_slide,#galeria h1.titular_slide,#calendario h1.titular_slide,#circuitos h1.titular_slide,#aboutme h1.titular_slide,#otra h1.titular_slide {
  background: none repeat scroll 0 0 transparent;
  color: #FFFFFF;
  display: inline;
  line-height: 1.35em;
  margin-left: 4%;
  padding-bottom: 1px;
  padding-top: 1px;
  white-space: normal;
}

#partners div.contenedor_titular,#galeria div.contenedor_titular,#calendario div.contenedor_titular,#circuitos div.contenedor_titular,#aboutme div.contenedor_titular,#otra div.contenedor_titular  {
  background: none repeat scroll 0 0 rgba(46, 132, 189, 0.87);
  bottom: 0 !important;
  display: inline !important;
  left: 0 !important;
  margin-left: 0;
  max-width: 100% !important;
  padding-left: 0;
  position: absolute;
  text-align: left;
  width: 100% !important;
  z-index: 1;
  top: inherit;
}

#home_content {
  padding-bottom: 14px;
}

#contacto h2 {
	font-size:27.5px;
}

a.buscaenlace {
	text-decoration: none;
	/* color:#333; */
	:hover {
		text-decoration: none;
		/* color:#6799C2; */
	}
}

#notihome .dos .titulo_noticia p, #notihome .primera .titulo_noticia p {
	margin-bottom:8px!important;
}

#aboutme #home_content p {
  color: #555;
  font-family: arial,helvetica !important;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5 !important;
}

/* CAMBIOS EN ABOUTME */

#aboutme { 

#sidebar {
	display:none;
}
.banner {
  position: relative;
  z-index: 1;
  height: 243px;
  overflow: hidden;
}

#home_content {
  padding: 30px 41px;
  width: 100%;
}

#columnaas {
  padding: 30px 41px;
  width: 52%;
  -moz-column-count: 2;
   -moz-column-gap: 2em;
   -moz-column-rule: 0px solid #ccf;
   -webkit-column-count: 2;
   -webkit-column-gap: 2em;
   -webkit-column-rule: 0px solid #ccf;
   column-count: 2;
   column-gap: 2em;
   column-rule: 0px solid #ccf;
   float:left;
   
}

#home_content strong {
  color: rgba(46, 132, 189, 0.87);
  font-family: klavika;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

#home_content img {
  display: inline-block;
  float: left;
  margin: -35px -10px 0 -42px;
  width:44%
}

#columnaas .palmares {
  display: none;
}

h1.titular_slide span {
  margin: 0 auto;
  position: relative;
  text-align: center !important;
  font-family:klavikabold!important;
  font-size:22px!important;
  text-transform:uppercase!important;
}
.iconopalm {
  background-color: rgba(46, 132, 189, 1);
  background-image: url("../img/icoflags.png");
  border: 20px solid rgba(46, 132, 189, 1);
  border-radius: 5px 5px 5px 5px;
  clear: both;
  float: left;
  height: 20px;
  width: 33px;
  margin-top:-37px;
}

.palmares strong {
  color: rgba(46, 132, 189, 0.87)!important;
  font-family: klavikabold!important;
  font-size: 26px!important;
  font-weight: normal!important;
  text-transform: uppercase;
  top: -27px!important;
  position: relative!important;
  left: 12px!important;
}

.premios {
/*
  -moz-column-count: 3;
  -moz-column-gap: 1.3em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1.3em;
  column-count: 3;
  column-gap: 1.3em;
*/
  width: 100%;
}

.añopremio {
 /*  border-right: 1px dotted #2E84BD; */
  color: #2E84BD;
  font-family: klavikabold;
  font-size: 21px;
  margin-right: 4px;
  padding-right: 9px;
}

.añopremio {
  margin-left: -65px;
}
.premios > p {
  background: #f6f6f6;
  padding-left: 11px;
}
}

/* SINGLE */

#otra {
	.banner {
  height: 139px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.noticia {
  background-color: white;
  text-align: center;
}
.noticia > img {
  background-color: white;
  border: 1px solid #ECECEC;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0 auto !important;
  padding: 2%;
  width: 50%;
  margin-bottom: 33px!important;
}
.fecha_noticia p,.titulo_noticia p {
  color: #2E84BD;
}

.titulo_noticia p {
  margin-bottom: 24px;
  line-height:1.1;
}
.contenido p {
  font-family: arial,helvetica!important;
  font-size: 13px!important;
  line-height: 1.5;
  text-align: left;
  font-weight: normal!important;
  color:#555555;
}

.contenido b {
	font-weight:bold;
}
.noticia:hover{
	background-color:transparent!important;
}

.btn_compartir span {
  display: none;
  margin-top: 5px;
}

a.buscaenlace {
  background-color: #f8f8f8;
}

.textobusqueda > p {
  font-family: arial,helvetica!important;
  font-size: 13px;
  line-height: 1.6;
}

.busque {
	background-color:transparent!important;
}
}

.contenido em {
  color: #2E84BD;
}

.imamedia {
  background-color: white;
  border: 1px solid #ECECEC;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0 auto 16px !important;
  padding: 2%;
  width: 128px;
}

.imamedia:hover{
    box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.7);
}

#media #home_content > p {
  display: block;
  float: left;
  margin: 18px;
  text-align: center;
  width: 165px;
}

#media #home_content > p a:hover {
    text-decoration:none;
}

#aboutme .banner > img {
  margin-top: -138px;
}

#media .ngg-gallery-thumbnail {
  margin-right: 17px;
  width: 76px;
}
.ocultapagina .btn {
  margin-left: 37px;
  margin-top: 0px;
  display:none;
}

.ocultapagina .ngg-navigation {
    display:none!important;
}

#sidebar .galerr h1 {
  color: #4c96df!important;
  font-size: 22px;
  text-align: left;
  margin-left: 37px;
  top: 36px;
  position: relative;
}

.galerr {
  margin-top: -27px;
  position: relative;
  left: -3px;
  width:100%;
}

.ngg-galleryoverview {
  width: 300px;

}

.español img {
    margin-top:-95px!important;
}

a.español,a.ingles{
    opacity:0.8;
}

a.español:hover,a.ingles:hover {
    opacity:1;
}

.alert-block {
  font: 14px arial;
  margin: -18px 19px 24px;
  padding-bottom: 14px;
  padding-left: 39px;
  padding-top: 14px;
/*
  background: transparent;
  border-color: transparent;
*/
}

.alert .close {
  line-height: 20px;
  position: relative;
  right: -21px;
  top: -9px;
  font-size: 16px;
  text-transform: lowercase;
}

.caja {
  border: 1px solid #F5F5F5;
  color: #A3A3A3;
  background-color:#F3F3F3;
  margin: 0 47px 19px;
  padding-bottom: 18px;
  text-align: center;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.4);
  display:block;
}
a.caja:hover {
    text-decoration:none;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.4);
    color:#A3A3A3;
}
#contacto h2 {
  color: #777!important;
  font-weight: normal;
  text-align: center;
}

.caja p {
  font: italic 14px/1.8 arial;
}

.caja span {
  color: #6799C2;
  font-size: 15px;
  font-style: normal;
}

#contacto h2 {
  color: #777777 !important;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  font-size: 23px;
  margin-top: 29px;
}

#aboutme .premios {
  width: 52%;
  float: left;
  margin-right: 64px;
}

.añopremio.blanco {
  width: 44px!important;
  max-width: inherit;
  min-width: inherit;
  display: inline-block;
  height: 18px;
  top: 3px;
  position: relative;
}

#aboutme .premios > p {
  background: none repeat scroll 0 0 #F6F6F6;
  margin-left: 52px;
  padding-left: 14px;
}

#aboutme .añopremio {
  margin-left: -65px;
  width: 44px!important;
}

#aboutme #home_content p {
  font-size: 14px;
}

.carousel .titular_slide > span {
  font-family: helvetica!important;
  text-transform: none!important;
  font-size: 25px!important;
}

.carousel h1.titular_slide {
  font-size: 24.5px;
}

.contactoform h3 {
display:none;
}

#otra header {
  background-color: black;
}

.partnersimg > img {
  background-color: white;
  border: 10px solid rgba(37,171,220,0.26);
  margin: 6px 4px;
  padding: 5px;
  width: 38%;
  box-shadow:0 3px 2px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:0 3px 2px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow:0 3px 2px -2px rgba(0, 0, 0, 0.4);
}

.partnersimg > img:hover {
	border: 10px solid rgba(37,171,220,0.6);
}

.partnersimg {
  padding-left: 31px;
  padding-top: 21px;
}

#partners #home_content {
  background-color: white;
  min-height: 717px;
}

#media #home_content {
  padding-left: 17px;
}

.gvideos {
  padding: 31px 45px;
}

.gvideos h3 {
  background-color: white;
  border: 0px dotted white;
  border-radius: 5px 5px 5px 5px;
  color: #397DB9;
  font-family: klavikabold;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-left: 39px !important;
  margin-top: 29px!important;
  padding-left: 15px;
  padding-top: 1px;
  text-align: left!important;
  text-transform: uppercase;
  margin-left:53px!important;
  padding-bottom:3px;
}

.gvideos iframe {
	width:100%;
	height:400px;
}

.gvideos .iconopalm {
  background-color: #A0C4DF;
  background-image: url("http://carmenjorda.com/wp-content/themes/cjorda/img/icocasco.png");
  background-position: 10px 11px;
  background-repeat: no-repeat;
  border: 0 solid #2E84BD;
  border-radius: 5px 5px 5px 5px;
  clear: both;
  float: left;
  height: 43px;
  margin-top: 29px;
  width: 43px;
}