/* TRANSPARENCIA */
.opacity (@trans: 0.5) {
	@trans1:@trans * 10;
	-moz-opacity:@trans;
	opacity:@trans;
	-khtml-opacity: @trans;
	filter:alpha(opacity=@trans1);
}

@media (min-width: 979px) and (max-width: 1200px) {


#aboutme .banner > img {
  margin-top: -63px;
}
.label.label-info {
	margin-left:36px!important;
}
	.carousel-indicators {
	  margin-right: -10px;
	  top: 237px;
	}
	div.contenedor_titular {
		top: 40px;
	}
	.btn_barra {
    	width:11%;
	}
	
	.patrocinadores_footer {
    	display:none!important;
	}
	.fc-event-inner.fc-event-skin{
    	width:80px!important;
    	height:30px!important;
    	line-height: 1.1 !important;
	}

.ngg-galleryoverview {
  padding-left: 32px;
}

.ngg-gallery-thumbnail img {
  border: 0 none !important;
  width: 171px;
}

.entrada_derecha p {
  width: 194px;
  padding-left: 19px;
}

.entrada_derecha {
padding-left:22px; 
}

.buscador {
    padding-left:34px;
    img {
        margin-right:20px;
    }
}

.conte {
  margin-left: 43px;
}

.noticia_destacada {
    padding-left:87px;
}
.fc-header-title h2 {
    margin-left:40px!important;
}

.titulocircuito img {
	display:none;
}

.titulocircuito {
	padding-left:33px;
}

.fechacircuito, .paiscircuito, .cascocircuito, .circuitocircuito {
  padding: 18px 24px;
}

.mapacircuito {
  width: 262px;
  height: 240px;
}

.banderacircuito {
  margin-left: 461px;
  margin-top: 202px;
}

#calendario h1.titular_slide span {
  left: 11px;
}

h1.titular_slide {
  font-size: 28.5px;
}

.mapacircuito {
  height: 212px !important;
  padding-top: 25px;
}

#ipadlogo img {
  margin-left: -4px;
}

.laimg {
  margin-left: 0px!important;
  margin-top: 8px!important;
  position: absolute;
  width: 226px!important;
}

.botonesredes {
  margin-left: 0!important;
}

.ingles.bandera img {
    margin-left:-51px!important;
}

/*
.tituloslide {
    width:100%;
}
*/

#galeria .ocultapagina.fotoos {
  width: 940px;
}

#galeria #sidebar {
    display:none;
}

.tituloslide {
    width:202px;
}

.galer.dropdown-menu {
  width: 104px !important;
}

#media #home_content > p {
  margin: 18px 2px;
}
.gvideos {
  position: relative;
  left: 135px;
}
}

/* IPAD */
@media (min-width: 768px) and (max-width: 979px) {
.gvideos {
  left: 64px;
  position: relative;
  width: 493px;
}
.unslide .btn {
  max-width: 89px;
  min-width: 90px;
  left: -3px;
  position: relative;
}
#aboutme .banner > img {
  margin-top: 1px;
}

#aboutme #columnaas {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
 padding: 0 14px 0 2px;
  width: 55%;
}

#aboutme #home_content img {
  display: inline-block;
  float: left;
  margin: -32px -18px 0 8px;
  position: absolute;
  width: 40%;
}
.label.label-info {
	margin-left:26px!important;
}
.redes.gp3 {
  margin-left: 23px !important;
}

#logo {
  width: 197px;
}
	div.contenedor_titular {
		left: -14px;
		top: 33px;
	}
	.carousel-indicators {
	  margin-right: -10px;
	  top: 175px;
	}
	.noticia_destacada {
		margin-left:1px;
	}
	.entrada_derecha {
		padding-left:18px;
	}
	.inp_buscar {
		width: 145px;
		margin-left: -18px;
	}
	.buscador {
	  padding-left: 30px;
	}
	.buscador img {
	  margin-right: 31px;
	}
	.noticia_destacada {
	  padding-left: 34px;
	}
	.entrada_derecha p {
	  font-size: 14px;
	  margin-left: 14px;
	  margin-top: 8px;
	  width: 145px;
	 }
	 h1.titular_slide {
		 font-size:26px;
	 }
	 h1.titular_slide span {
	 font-size:26px;
	 }
	 .btn_barra {
    	width:11%;
	}
.fc-event-inner.fc-event-skin {
  font-size: 0.9em !important;
  height: 23px !important;
  line-height: 1.2 !important;
  margin-top: -7px;
  padding-top: 0 !important;
  width: 60px !important;
}
.fc-header-title h2 {
  margin-left: 29px!important;
}

.ngg-galleryoverview {
    padding-left:18px;
}

.entrada_derecha p {
  font-size: 13px;
  margin-left: -1px;
  margin-top: 8px;
  width: 128px;
}

.buscador img {
  margin-right: 34px;
}
.fecha_noticia > p {
  display: inline-block;
}
#notihome .noticia.primera .imgmain {
  width: 382px;
}
#notihome .dos .contenidonoticia, #notihome .primera .contenidonoticia {
  width: 95%;
}
.noticia_destacada {
  margin-left: 0;
  width: 220px;
}

.cirimico {
  display: none;
}

.titulocircuito {
  min-height: 39px;
  padding: 23px 28px;
}

.mapacircuito {
  background-color: #F3F3F3;
  display: inline-block;
  height: 257px!important;
  margin-left: 1px;
  width: 189px;
}

.banderacircuito {
  margin-left: 315px;
  margin-top: 217px;
  position: absolute;
  width: 60px;
}

#calendario h1.titular_slide span {
  font-size: 29px;
  left: 18px;
  position: relative;
  top: 5px;
}



#galeria .titular_slide > span {
  left: 10px;
}

#partners h1.titular_slide > span, #galeria h1.titular_slide > span {
	left:0px;
}

#circuitos h1.titular_slide > span, #aboutme h1.titular_slide > span {
  left: 13px;
}

.titular_slide > span {
  font-size: 24.5px;
}

h1.titular_slide span {
    font-size:24.5px;
}

.mapacircuito {
  height: 166px !important;
  padding-top: 91px;
}

.titulocircuito {
  height: 22px !important;
  padding: 32px 28px;
  position: relative;
  width: 319px;
  z-index: 3;
  min-height:inherit!important;
}

#aboutme .iconopalm {
  background-color: #2E84BD;
  background-image: url("../img/icoflags.png");
  border: 20px solid #2E84BD;
  border-radius: 5px 5px 5px 5px;
  clear: both;
  float: left;
  height: 20px;
  margin-top: 22px;
  width: 33px;
}

#aboutme #home_content strong {
  color: rgba(46, 132, 189, 0.87);
  font-family: klavika;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  width: 100%!important;
  clear: both;
  display: inline-block;
  margin:-17px 72px;
}

.redes .btn_barra {
  margin-top: 2px;
  width: 39px;
}
.botonesredes {
  margin-left: 0px!important;
}
.btn_barra p {
  font-size: 14px;
}

#ipadlogo img {
  margin-left: 8px;
  margin-top: -22px;
  min-width: 182px;
}



.laimg {
  margin-left: 0px;
  margin-top: 8px;
  position: absolute;
  width: 149px;
  z-index: 0;
}


.botonesredes {
  margin-left: 551px!important;
  margin-top: -170px;
}

.ingles.bandera img {
    margin-left: -57px!important;
margin-top: 109px!important;
}

#calendariocircuitos {
  padding: 22px 43px;
}

.banderacircuito {
  margin-top: 222px;
}

#galeria .ocultapagina.fotoos {
  width: 940px;
}

#galeria #sidebar {
    display:none;
}

.tituloslide {
    width:131px;
}

.thecircuit {
  font-size: 17px;
  line-height: 1.2;
  margin-bottom: 17px;
  margin-top: -9px;
  padding: 0 30px;
}

#aboutme .premios {
  margin-right: 8px;
}

.galer.dropdown-menu {
  width: 82px !important;
  min-width: inherit;
}

.español.bandera > img {
  margin-top: 132px!important;
  margin-left: -65px!important;
}



#media #home_content {
  padding-left: 17px;
}

}

/* IPHONE LANDING */
@media (max-width: 767px) {

/*
.indilights01,.indilights02,.indilights03,.indilights04,.indilights05,.indilights06,.indilights07,.sl01,.sl02,.sl03,.sl04,.sl05,.sl06,.sl07 {
	left:0px!important;
	width:100%;
	margin-left:0px;
}
*/

.gvideos {
	left:inherit;
	position:static;
	width:auto;
}

.gvideos h3 {
	font-size:14px;
}
.unslide.año13 {
  margin-top: 0px;
  .tituloslide {
  margin-top: -106px;
}
}

/*
.unslide.año12 {
  margin-top: 247px;
    .tituloslide {
  margin-top: -147px;
}
}

.unslide.año11 {
  margin-top: 90px;
  .tituloslide {
  margin-top: -100px;
}
}

.unslide.año10 {
  margin-top: 90px;
  .tituloslide {
  margin-top: -100px;
}
}

.unslide.año09 {
  margin-top: 90px;
  .tituloslide {
  margin-top: -100px;
}
}

.unslide.año08 {
  margin-top: 90px;
  .tituloslide {
  margin-top: -100px;
}
}

.unslide.año07 {
  margin-top: 90px;
  .tituloslide {
  margin-top: -100px;
}
}

.unslide.año06 {
  margin-top: 90px;
  .tituloslide {
  margin-top: -100px;
}
}

.unslide.año05 {
  margin-top: 90px;
  .tituloslide {
  margin-top: -100px;
}
}
*/

.theemblema {
  display: none;
}
.unslide li {
  float: left;
}

.lindi {
  width: 100%;
  margin-top: 486px;
}
.tituloslide {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.theyear {
	display:block;
}

#aboutme .banner,#calendario .banner {
  height: inherit;
}

#aboutme .banner > img {
  margin-top: 0;
}

.palmares {
  margin-top: 34px;
  display: inline-block;
  margin-left: -16px;
}
.premios {
/*
  -moz-column-count: 2!important;
  -webkit-column-count: 2!important;
  column-count: 2!important;
*/
}

#aboutme .row-fluid.no-space.columnaizda {
  background: white;
}

#aboutme .premios {
   width: 100%;
}


#aboutme #columnaas {
  -moz-column-count: 1;
  -webkit-column-count:1;
  column-count:1;
  padding: 0 14px 0 0px;
  width: 100%;
  margin-left: -14px;
  margin-bottom: 10px;
}

#aboutme #home_content img {
  display: none;
}

.label.label-info {
	margin-left:26px!important;
}
#ipadlogo {
  margin: 0 auto;
  width: 228px;
}

#logo {
  top: 117px;
  width: 93%;
}
	#home_content {
		width:100%;
	}
	.carousel-indicators {
	  margin-right: -10px;
	  top: 5px;
	}
	
	#calendario div.contenedor_titular {
/*
	  left: 0px;
	  top: 50px;
*/
  	}
  	
	h1.titular_slide {
		font-size:22px;
	}
	h1.titular_slide span {
	font-size:22px;
	}
	
	.span5.btn_seguir{
		display:inline;
	}
	div.contenedor_titular {
  left: -29px;
  top: 0px;
  margin-top: 8px;
}

	.fc-event-inner.fc-event-skin {

  width: 64px !important;
}
.fc-event-inner.fc-event-skin {
  font-size: 1em !important;
  line-height: 1 !important;
  text-align: center !important;
  height: 17px!important;
}
/*
.fc-header-title h2 {

  position: absolute;
  font-size:18px!important;


}
*/

.fc-header-title h2 {
  margin-left: 131px !important;
  margin-top: -85px !important;
  white-space: nowrap;
  color:white;
  font-size:19px;
}

.ngg-galleryoverview {
    padding-left:7px;
}
.ngg-gallery-thumbnail img {
    width:74px;
}

body {
    padding:0px!important;
}

.ngg-galleryoverview {
  padding-left: 18px;
}

#foot-izq {
  float: left;
  margin-top: 100px;
}

.fecha_noticia {
    display:none;
}

#notihome .noticia.primera .imgmain {
    width:100%;
}

.contenedor_crono {
  margin-right: 0px;
}

.noticia {
    width:100%;
}

.textocircuito {
  float: left;
  width: 100%;
}

.mapacircuito {
  background-color: #F3F3F3;
  display: inline-block;
  margin-left: 0;
  margin-top: 1px;
  width: 100%;
  max-width:100%;
}

.banderacircuito {
  margin-left: 532px;
  margin-top: 441px;
  position: absolute;
  width: 60px;
}
#calendario h1.titular_slide span {
  font-size: 23px;
}

#partners h1.titular_slide > span, #galeria h1.titular_slide > span, #circuitos h1.titular_slide > span, #aboutme h1.titular_slide > span {
	left:4px;
}

.banderacircuito {
  margin-left: 0;
}

.mapacircuito > img {
  width: 64%;
  text-align: center;
}

.mapacircuito {
	text-align:center;
}

.btn_barra {
  height: 31px;
  padding-top: 3px;
}

#ipadlogo img {
  margin-left: inherit;
  margin-top: inherit;
  min-width: 100px;
}

.btn_leer_mas{
    display:none;
}

.scrollgallery .scrollGalleryHead {
  width: 93% !important;
}

.scrollgallery {
    width:100%!important;
}

.elslide {
    width:100%!important;
}

.tituloslide {
    width:100%;
}

.contenedor_titular {
    text-align:center!important;
}

.contenedor_titular h1 {
    margin:0!important;
}

.carousel .contenedor_titular {
    text-align:left!important;
}

}

/* IPHONE VERTICAL */
@media (max-width: 480px) {
body {
	width:100%!important;
	overflow-x:hidden!important;
}
	.carousel-indicators, a.btn_leer_mas {
		display:none;
	}
	div.contenedor_titular {
	  top: 11px;
	  left: -22px;
	}
	h1.titular_slide {
  font-size: 18px;
  text-transform: uppercase;
  top: 1px;
}

h1.titular_slide span {
font-size:14px;
}

.fc-event-inner.fc-event-skin {
  width: 38px !important;
  margin-top: -22px;
  z-index: -2;
  position: relative;
  padding-top: 14px!important;
  height:24px!important;
}

#contacto h2,#contacto h3 {
    text-align:left;
    margin-left:0px;
}
.contactoform {
    padding-left:15px;
}
.contenedor_crono {
  float: left;
  height: 80px;
  margin-right: 0;
  margin-left:22px;
  background-image:none;
}

#cr_titulo {
    margin-left:0px;
}

.btn_barra {
  background-size: 100% 100%;
  color: #FFFFFF;
  float: left;
  height: 28px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 8px;
  opacity: 0.6;
  padding-top: 7px;
  text-align: center;
  vertical-align: middle;
  width: 12%;
}
.dropdown-menu > li > a {
  clear: both;
  color: #333333;
  display: block;
  font-weight: normal;
  line-height: 0;
  padding: 9px 20px 0;
  white-space: nowrap;
}
.dropdown-menu > li {
  line-height: 0;
}

body {
    overflow-x:hidden;
}

.contenedor_crono {
  background-color: rgba(0,0,0,0.7);
  background-image: none;
  float: left;
  height: 80px;
  margin-left: 0;
  margin-right: 0;
  top: 0px;
  z-index: 5;
  padding: 6px 14px 0;
}

#header {
  height: 85px;
}

.mascar {
    width:80px!important;
}

.cuadro_noticia_izquierda {
  clear: both;
  display: inline;
}

.cuadro_noticia_derecha {
  float: left;
  clear: both;
}
.cuadro_noticia {
  margin-bottom: -2px;
  margin-left: 0%;
  margin-top: 5px;
  padding-bottom: 3px;
  padding-left: 0%;
  padding-top: 0px;
  width: 100%;
}

.cuadro_noticia p {
  color: #3A739C;
  font-family: klavika;
  font-size: 0.9em;
  height: 2.4em!important;
  line-height: 1.3em;
  margin-bottom: 4px;
  overflow: hidden;
  text-transform: uppercase;
  
}


.linea_noticias {
    display:none;
}

.noticias_box {
  background-color: #85BEE6;
  height: 286px;
  padding: 10px 20px;
}

#notihome {
  margin: 0px 0px;
}

#notihome .dos .contenidonoticia, #notihome .primera .contenidonoticia {
  padding: 0 15px;
  width: 93%;
}
#notihome .noticia.dos .imgmain, #notihome .noticia.primera .imgmain {
  float: left;
  height: 119px;
  margin-bottom: 7px;
  margin-right: 16px;
  width: 100%;
}

#foot-izq {
  float: left;
  margin-top: 103px;
}

#contacto h2 {
  font-size: 23px;
}

#contacto h3 {
    font-size:14px!important;
}

.contactoform {
  padding-left: 37px;
  margin-top: -27px;
}

.sombra {
    height:63%;
}

#circuitos .noticia img.imgmain {
  margin-left: 43px;
  margin-top: 24px;
  width: 228px!important;
}

.titulo_noticia p {
  line-height: 1.1em;
}

#circuitos h1.titular_slide span {
  position: relative;
  top: 5px!important;
}
#notihome .dos .titulo_noticia p, #notihome .primera .titulo_noticia p {
  margin-bottom: 10px;
}

.fecha_noticia {
  display: inline-block;
}

.noticia {
  width: 100%;
}

#ipadlogo {
  width: 134px;
  position: absolute;
  right: 54px;
  top: 51px;
}

#logo {
  top: 55px;
  width: 100%;
  z-index: 5;
}

.banderacircuito {
	display:none;
}

.contenedor_crono {
	width:300px!important;
}

/*
body {
  margin-left: 15px;
}

.sombrasup {
  height: auto;
  margin-top: 0;
  width: 105%;
}
*/

.sombrasup img {
  height: auto;
  margin-left: 1px;
  width: 100% !important;
}
.sombrasup {
  height: auto;
  margin-top: 0;
  width: 100% !important;
}

#contenedor_sombras {
  width: 100%!important;
  .opacity(0.7);
}

body {
	overflow-x:hidden!important;
}
.contenedor_crono {
  background-color: transparent;
  background-image: none !important;
}

#calendario h1.titular_slide span {
  font-size: 20px;
  left: 30px;
  position: relative;
  top: 5px;
  font-family:klavika;
}

#partners h1.titular_slide > span, #galeria h1.titular_slide > span, #circuitos h1.titular_slide > span, #aboutme h1.titular_slide > span {
  left: 14px;
}

.cuadro_noticia p {
	height:2.4em!important;
}
#elcontador {
  left: 93px;
}

/*
h1.titular_slide {
  font-size: 15px;
}
*/

div.contenedor_titular {
  left: -22px;
  top: 0;
}

.mapacircuito > img {
  margin-top: 40px;
}

.premios {
  -moz-column-count: 1!important;
  -webkit-column-count: 1!important;
  column-count: 1!important;
}
#ipadlogo img {
  margin-left: inherit;
  margin-top: inherit;
  min-width: 100px;
}


}