h1, p{
	font-family: 'klavikalight';
	font-weight: normal;
}
h1 b, p b{
	color: black;
	font-weight: normal;
}

body{
	/*background-image: url("img/plantilla.jpg");
	background-repeat: no-repeat;*/
	background: black;
	background-image:url('img/fondo.png');
}

header {
	background-color:black;
}
#header{
	background-image: url("img/textura.png");
	height: 185px;
	margin-bottom:0px;
	
}

.columnaizda {
	background-color:#F2F2F2;
}

#home_content {
	background-color:white;
}

.footer{
	background-image: url("img/fondo_footer.png");
	width: 100%;
	height: 210px;
}

.noticia{
	background-color: white;
}

.noticia img.imgmain {
	width:100%;
}

.contenidonoticia {
	padding:24px 42px;
}

.fecha_noticia p {
	color: #3a739c;
	font-size: 14px;
	font-family:'klavika';
}
.titulo_noticia p {
	color: #3a739c;
	font-size: 30px;
	font-family:'klavikamedium';
}
.cuerpo_entrada p {
	font-size:13px;
	color:#777575;
	font-family:arial;
	line-height:1.5;
}


.btn_seguir,.btn_compartir{
	color: #3a739c;
	text-transform:uppercase;
	font-family:'klavika';
	font-size:13px;
	margin-top:10px;
}

.btn_seguir span, .btn_compartir span {
	display: inline-block;
	margin-top: 5px;
}

.ico-seguir,.ico-face,.ico-twit {
	background-image: url("img/iconosnoticia.png");
	float: left;
	height: 27px;
	margin-right: 10px;
	width: 27px;
	background-position:-3px 0;
}

.ico-face {
	background-position:-30px 0px;
	margin-right:0px;
}

.ico-twit {
	background-position:-57px 0px;
}

.no-space { /*apply to the row */
      margin-left:0;
 }
.row-fluid .span8 {  /* overrides bootstrap.css to allow for no gutter */

   width: 65%;
}
.row-fluid .span4 {  /* overrides bootstrap.css to allow for no gutter */

   width: 35%;
   margin-left: 0px!important;
}
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.bordesuperior {
	border-top:10px solid #0e76bc;
}

.container_botones{
	padding-left: 0;
	height: 45px;
}

.comentarios{
	padding: 10px;
}

.paginacion {
  background-color: #D6EAF8;
  color: #38719A !important;
  font-family: klavika;
  min-height: 14px;
  padding: 12px 41px;
  position: relative;
  text-transform: uppercase;
  top: 14px;
}

/*
.paginacion a {
	color: #38719A !important;
}
*/

.paginacion a {
  background-color: #85BEE6;
  color: white;
  padding: 10px;
  position: relative;
  text-decoration: none;
}

.paginacion a:hover {
	background-color: #5594c1;
}

.paginacion .posterior {
	float:right;
}

.paginacion .anterior {
	left:-40px;
	position: relative;
}

.paginacion .posterior a {
	left: 40px;
}

.menu_footer {
  display: inline-block;
  margin-top: 59px;
}

.btn {
    font-family:klavika;
}

.sombrasup img {
/*   height: 189px!important; */
  height: 257px!important;
  width: 100%;
}

#logo {
  margin-left: 34px;
  position: absolute;
  top: 36px;
  z-index: 2;
}

.container.sconta {
  position: relative;
  z-index: 1 !important;
  box-shadow:0 0 51px -27px white;
  -webkit-box-shadow:0 0 51px -27px white;
  -moz-box-shadow:0 0 51px -27px white;
  border-right:2px solid rgba(0,0,0,0.16);
  border-left:2px solid rgba(0,0,0,0.16);
  
}

.noticia a:hover {
    text-decoration:none;
}

.noticia:hover {
    background-color:#e8f3fb!important;
}

#calendario h1.titular_slide span {
  position: relative;
  top: 3px;
  font-size: 22px;
  text-transform:uppercase;
  font-family:klavikabold;
}

#home_content strong {
  font-family: klavikabold;
  font-size: 17px;
  font-weight: normal;
}

#ipadlogo img {
  margin-top: -22px;
  min-width: 383px;
  margin-left: 8px;
}

.popover-title {
  text-align: center;
}